@charset "UTF-8";
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  line-height: 1.5rem;
  font-family: Microsoft JhengHei;
}

body {
  background-color: #EEE6E7;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
}

.showmenu {
  display: none;
}

.showmenu .fa-bars {
  color: white;
  font-size: 25px;
}

@media (max-width: 768px) {
  .showmenu {
    display: block;
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 56px;
  padding: 0 30px;
}

.container h1 a {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  height: 24px;
  width: 120px;
  background-image: url(../img/logo_w@svg.svg);
  background-repeat: no-repeat;
}

.container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .menu li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 20px 16px;
  border-bottom: solid transparent 3px;
}

.container .menu li a:hover {
  border-bottom: solid white 3px;
}

@media (max-width: 768px) {
  .container .menu {
    /*隱藏選單*/
    max-height: 0px;
    overflow: hidden;
    /*定位選單*/
    position: absolute;
    z-index: 100;
    /*header高度*/
    top: 50px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: black;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 576px;
  }
}

@media (max-width: 768px) {
  .menu-show .menu {
    max-height: 600px;
  }
}

.banner {
  height: 420px;
  width: 100%;
  background-color: black;
  background-image: url(../img/header_desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 576px) {
  .banner {
    background-image: url(../img/header_mobile.png);
  }
}

.banner-content {
  color: #EEE6E7;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 40px 40px;
}

@media (max-width: 328px) {
  .banner-content {
    padding: 20px 20px;
  }
}

.banner-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
  line-height: 3rem;
}

@media (max-width: 768px) {
  .banner-content h2 span {
    display: block;
  }
}

@media (max-width: 328px) {
  .banner-content h2 {
    font-size: 30px;
  }
}

.banner-content p {
  font-size: 16px;
  line-height: 1.5rem;
}

.footer {
  max-width: 1024px;
  margin: 0 auto;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 15px;
}

@media (max-width: 768px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
}

.footer-content .about, .footer-content .contact {
  width: 50%;
}

.footer-content .contact {
  margin-left: 1.2rem;
}

@media (max-width: 460px) {
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 600px;
  }
  .footer-content .about, .footer-content .contact {
    width: 100%;
  }
  .footer-content .contact {
    margin-left: 0rem;
    margin-top: 2rem;
  }
}

.footer-content h3, .footer-content p, .footer-content a {
  color: #3D1101;
}

.footer-content h3 {
  font-size: 24px;
  margin-bottom: 1rem;
}

.footer-content p {
  font-size: 16px;
}

.footer-content li, .footer-content a {
  text-decoration: none;
}

.footer-content ul {
  list-style-type: disc;
  list-style-position: inside;
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .footer-link {
    margin-top: 2rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.footer-link .logo {
  background-image: url(../img/logo_l@svg.svg);
  height: 49px;
  width: 245px;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-link div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1rem;
}

.footer-link .fa-brands {
  font-size: 36px;
  margin: 5px;
}

.footer-link .fa-square-google-plus {
  color: #B63926;
}

.footer-link .fa-square-twitter {
  color: #1F7AB3;
}

.footer-link .fa-square-facebook {
  color: #293F75;
}

.feature {
  max-width: 1024px;
  margin: 0 auto;
}

.feature-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
}

.feature-container h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 2rem;
}

.feature-container span {
  display: block;
}

.feature-container span::before, .feature-container span::after {
  position: absolute;
  content: '';
  width: 122px;
  height: 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3D1101;
}

.feature-container span::before {
  left: 25%;
}

.feature-container span::after {
  right: 25%;
}

@media (max-width: 768px) {
  .feature-container span::before {
    left: 15%;
  }
  .feature-container span::after {
    right: 15%;
  }
}

@media (max-width: 576px) {
  .feature-container span::before, .feature-container span::after {
    background-color: transparent;
  }
}

.feature-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
  padding: 0px 35px;
}

@media (max-width: 768px) {
  .feature-container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feature-container ul li {
    width: 100%;
    margin-bottom: 2.5rem;
  }
}

.feature-container ul li h4 {
  font-size: 20px;
  margin-bottom: 1rem;
}

.feature-container ul li img {
  border-radius: 50%;
  margin-bottom: 2rem;
}

.chef-background {
  background-color: #3D1101;
}

.chef {
  max-width: 1024px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .chef {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.chef-img {
  background-image: url(../img/main_chef_brown.png);
  height: 470px;
  width: 460px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .chef-img {
    width: 100%;
  }
}

.chef-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #EEE6E7;
  padding: 20px 35px;
  max-width: 410px;
}

.chef-info h3 {
  font-size: 20px;
}

.chef-info h4 {
  font-size: 16px;
  margin-bottom: 1rem;
}

.chef-info p {
  font-size: 16px;
}

.feedback {
  max-width: 1024px;
  margin: 0 auto;
}

.feedback-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
}

.feedback-container .feedback-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.feedback-container .feedback-block li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 10px;
  width: 33%;
}

@media (max-width: 768px) {
  .feedback-container .feedback-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feedback-container .feedback-block li {
    width: 50%;
  }
  .feedback-container .feedback-block .center {
    margin-top: 2rem;
    margin-left: 25%;
  }
}

@media (max-width: 576px) {
  .feedback-container .feedback-block li {
    width: 100%;
  }
  .feedback-container .feedback-block .center {
    margin-top: 0;
    margin-left: 0;
  }
}

.feedback-container .feedback-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback-container {
  color: #3D1101;
}

.feedback-container h3 {
  font-size: 24px;
  margin-bottom: 4rem;
}

.feedback-block img {
  border-radius: 50%;
  width: 67px;
  height: 67px;
  margin-right: 20px;
}

.feedback-block .feedback-content h4 {
  font-size: 20px;
  margin: 1rem 0;
}

.feedback-block .feedback-content p {
  font-size: 16px;
  margin-bottom: 1rem;
}

.feedback-block .feedback-content span {
  font-size: 16px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: rgba(61, 17, 1, 0.75);
}

.reserve {
  background-color: rgba(250, 250, 250, 0.7);
}

.reserve-container {
  margin: 0 auto;
  max-width: 1024px;
}

.reserve-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 10px;
}

.reserve-container h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.reserve-container .reserve-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reserve-container .reserve-content .reserve-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reserve-container .reserve-content .reserve-form .button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 576px) {
  .reserve-container .reserve-content .reserve-form {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .reserve-container .reserve-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.reserve-container {
  color: #3D1101;
}

.reserve-container h3 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 2rem;
  line-height: 2rem;
}

.reserve-container .reserve-form {
  font-size: 16px;
}

.reserve-form {
  width: 60%;
}

@media (max-width: 576px) {
  .reserve-form {
    width: 100%;
    margin-top: 30px;
  }
}

.reserve-form label, .reserve-form input {
  margin-bottom: 0.5rem;
}

.reserve-form input {
  height: 32px;
  padding: 5px;
}

.reserve-form .radio input {
  height: 12px;
}

.reserve-form .radio input {
  margin-right: 30px;
}

.button button {
  color: white;
  font-size: 16px;
  padding: 5px 15px;
  border: 0px;
  border-radius: 3px;
  cursor: pointer;
}

.button .button-cancel {
  background-color: rgba(0, 0, 0, 0.35);
}

.button .button-cancel:hover {
  background-color: rgba(102, 102, 102, 0.35);
}

.button .button-submit {
  background-color: #F56C23;
}

.button .button-submit:hover {
  background-color: #ef9d71;
}

.login-container {
  max-width: 1024px;
  margin: 0 auto;
}

.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.login-container .login-content {
  padding: 5px 10px;
  margin-top: 30px;
}

.login-container .login-content h4 {
  text-align: center;
  margin: 10px 0;
}

.login-container .login-form .bottom-1rem {
  margin-bottom: 1rem;
}

.login-container .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login-container img {
  margin-bottom: 10px;
  max-width: 240px;
}

.login-content {
  width: 300px;
  height: 273px;
  border-top: 4px #F56C23 solid;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
}

.login-content {
  color: #3D1101;
  font-size: 16px;
}

.login-content .fa-solid, .login-content .fa-regular {
  color: rgba(61, 17, 0, 0.5);
}

.login-content a {
  text-decoration: none;
  color: #F56C23;
}

.login-form input {
  width: 100%;
  height: 32px;
  text-indent: 1.7rem;
}

.input-group {
  position: relative;
}

.input-group i {
  position: absolute;
  left: 7px;
  top: calc(50% - 0.5em);
}

.button {
  margin-top: 20px;
}

.button a {
  display: block;
  color: white;
  border-radius: 5px;
  padding: 5px 45px;
}

.button .btn-register {
  background-color: rgba(0, 0, 0, 0.35);
}

.button .btn-register:hover {
  background-color: rgba(0, 0, 0, 0.718);
}

.button .btn-login {
  background-color: #F56C23;
}

.button .btn-login:hover {
  background-color: #ef9d71;
}

.register-container {
  max-width: 1024px;
  margin: 0 auto;
}

.register-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.register-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 5px 15px 5px;
  margin: 30px 10px 0px 10px;
}

.register-content h4 {
  text-align: center;
  margin: 10px 0;
}

.register-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 620px;
}

.register-flexbox .term {
  width: 50%;
  padding: 0px 10px;
}

.register-flexbox .register-form {
  width: 50%;
  padding: 0px 10px;
}

@media (max-width: 576px) {
  .register-flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .register-flexbox .term {
    width: 100%;
  }
  .register-flexbox .register-form {
    width: 100%;
    margin-top: 1.5rem;
  }
}

.register-form input {
  width: 100%;
  height: 32px;
  text-indent: 1.7rem;
}

.register-form .bottom-1rem {
  margin-bottom: 1rem;
}

.register-form .bottom-05rem {
  margin-bottom: 0.5rem;
}

.input-group {
  position: relative;
}

.input-group i {
  position: absolute;
  left: 7px;
  top: calc(50% - 0.5em);
}

.register-container img {
  margin-bottom: 10px;
  max-width: 240px;
}

.register-content {
  border-top: 4px #F56C23 solid;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
  color: #3D1101;
  font-size: 16px;
}

.register-content .fa-solid, .register-content .fa-regular {
  color: rgba(61, 17, 0, 0.5);
}

.register-content a {
  text-decoration: none;
  color: #F56C23;
}

.register-button {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.register-button a {
  display: block;
  color: white;
  border-radius: 5px;
  padding: 5px 45px;
  cursor: pointer;
}

.register-button .btn-bkg-waring {
  background-color: #F56C23;
}

.register-button .btn-bkg-waring:hover {
  background-color: #ef9d71;
}
/*# sourceMappingURL=all.css.map */