.register-container{
    max-width: 1024px;
    margin: 0 auto;
}

// flex 設定
.register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.register-content{
    display: flex;
    flex-direction: column;
    padding: 5px 5px 15px 5px; 
    margin: 30px 10px 0px 10px;
    h4{
        text-align: center;
        margin: 10px 0;
    }
}

.register-flexbox{
    display: flex;
    max-width: 620px;
    
    .term{
        width: 50%;
        padding: 0px 10px;
    }
    .register-form{
        width: 50%;
        padding: 0px 10px;
    }

    @include w-sm{
        flex-direction: column;
        .term{
            width: 100%;
        }
        .register-form{
            width: 100%;
            margin-top: 1.5rem;
        }
    }
}


// 偽元素應用-input icon
.register-form{
    input{
        width: 100%; 
        height: 32px;
        text-indent: 1.7rem;
    }
    .bottom-1rem{
        margin-bottom: 1rem;
    }
    .bottom-05rem{
        margin-bottom: 0.5rem;
    }
}

.input-group{
    position:relative;
    i { 
        position: absolute; 
        left: 7px;
        top: calc(50% - 0.5em);
      }
}

// 圖片、文字、樣式設定
.register-container{
    img{
        margin-bottom: 10px;
        max-width: 240px;
    }
}
.register-content{
    border-top: 4px $waring solid; 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
    color: $primary;
    font-size: $fz-s;

    .fa-solid,.fa-regular{
        color:rgba(61,17,0,0.50);;
    }

    a{
        text-decoration: none;
        color: $waring;
    }
}

// 按鈕設定
.register-button{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    a{
        display: block;
        color: white;
        border-radius: 5px;
        padding: 5px 45px;
        cursor: pointer;

    }
    .btn-bkg-waring{
        background-color: $waring;
        &:hover{
            background-color: #ef9d71;
        }
    }
}
